Repository LiveSplit/livesplit-core, pull requests merged in 2019-10, with the labels that each got.

#252 Reattach unattached Segment History Elements
  src/run/mod.rs
  src/run/segment_history.rs
  src/run/tests/fixing.rs
  src/run/tests/mod.rs
Labels: bug, enhancement

#257 Unify the Key Value based Component States
  capi/bind_gen/src/main.rs
  capi/bind_gen/src/typescript.ts
  capi/src/current_comparison_component.rs
  capi/src/current_comparison_component_state.rs
  capi/src/current_pace_component.rs
  capi/src/current_pace_component_state.rs
  capi/src/delta_component.rs
  capi/src/delta_component_state.rs
  capi/src/key_value_component_state.rs
  capi/src/lib.rs
  capi/src/pb_chance_component.rs
  capi/src/pb_chance_component_state.rs
  capi/src/possible_time_save_component.rs
  capi/src/possible_time_save_component_state.rs
  capi/src/previous_segment_component.rs
  capi/src/previous_segment_component_state.rs
  capi/src/sum_of_best_component.rs
  capi/src/sum_of_best_component_state.rs
  capi/src/total_playtime_component.rs
  capi/src/total_playtime_component_state.rs
  src/component/blank_space.rs
  src/component/current_comparison.rs
  src/component/current_pace.rs
  src/component/delta/mod.rs
  src/component/delta/tests.rs
  src/component/detailed_timer/mod.rs
  src/component/graph.rs
  src/component/key_value.rs
  src/component/mod.rs
  src/component/pb_chance.rs
  src/component/possible_time_save.rs
  src/component/previous_segment.rs
  src/component/separator.rs
  src/component/splits/mod.rs
  src/component/sum_of_best.rs
  src/component/text.rs
  src/component/timer.rs
  src/component/title/mod.rs
  src/component/total_playtime.rs
  src/layout/component.rs
  src/layout/component_state.rs
  src/rendering/component/current_comparison.rs
  src/rendering/component/current_pace.rs
  src/rendering/component/delta.rs
  src/rendering/component/key_value.rs
  src/rendering/component/mod.rs
  src/rendering/component/pb_chance.rs
  src/rendering/component/possible_time_save.rs
  src/rendering/component/previous_segment.rs
  src/rendering/component/text.rs
  src/rendering/component/total_playtime.rs
  src/rendering/mod.rs
Labels: code quality, enhancement, rendering

#262 C API: Allow loading layouts and hotkey configs from files.
  capi/src/hotkey_config.rs
  capi/src/layout.rs
  capi/src/lib.rs
  capi/src/run.rs
Labels: c api, code quality, enhancement
