Repository LiveSplit/livesplit-core, pull requests merged in 2020-03, with the labels that each got.

#307 Move the Title Abbreviations into the Component
  .github/workflows/rust.yml
  Cargo.toml
  capi/bind_gen/src/typescript.ts
  capi/src/title_component_state.rs
  crates/livesplit-title-abbreviations/src/lib.rs
  src/component/title/mod.rs
  src/rendering/component/title.rs
Labels: enhancement, feature, rendering

#310 Implement Gamepad Support for the Web
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/wasm_web/key_code.rs
  crates/livesplit-hotkey/src/wasm_web/mod.rs
Labels: enhancement, feature, hotkey

#312 Added get_path method to Run so the path can be actually accessed.
  src/run/mod.rs
Labels: code quality, enhancement

#313 Method path in Run needed not be mutable.
  src/run/mod.rs
Labels: enhancement

#315 Fix the Single Line Title Calculation
  src/component/title/mod.rs
Labels: bug, enhancement

#316 Various Improvements to the C API
  capi/bind_gen/src/wasm_bindgen.rs
  capi/src/lib.rs
Labels: c api, enhancement

#318 Properly read strings as UTF-8 in C# bindings
  capi/bind_gen/src/csharp.rs
  capi/src/layout_state.rs
  src/rendering/software/tests.rs
Labels: bug, c api, enhancement, priority: high
