Repository LiveSplit/livesplit-core, pull requests merged in 2020-12, with the labels that each got.

#367 Fixing hotkey drops in Linux
  capi/src/hotkey_system.rs
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/linux/mod.rs
  src/hotkey_system.rs
Labels: bug, c api, enhancement, hotkey

#373 Update euc and vek
  .github/workflows/bench.yml
  Cargo.toml
  src/rendering/mod.rs
  src/run/parser/llanfair.rs
  src/run/parser/llanfair2.rs
  src/run/parser/llanfair_gered.rs
  src/settings/image/shrinking.rs
  tests/rendering.rs
Labels: code quality, enhancement

#378 Switch Text Shaping to rustybuzz
  Cargo.toml
  benches/dummy_rendering.rs
  src/rendering/component/title.rs
  src/rendering/font.rs
  src/rendering/fonts/Timer.ttf
  src/rendering/glyph_cache.rs
  src/rendering/mod.rs
  tests/rendering.rs
Labels: enhancement, feature, performance, rendering

#379 Upgrade to Tokio 1.0
  Cargo.toml
Labels: dependencies, enhancement, feature, networking
