Repository LiveSplit/livesplit-core, pull requests merged in 2021-04, with the labels that each got.

#421 Fixed panic on windows when tabbing into WindowsSandbox (Fixes #363)
  crates/livesplit-hotkey/src/windows/mod.rs
Labels: bug, enhancement, hotkey

#422 Implement Hotkeys for macOS
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/lib.rs
  crates/livesplit-hotkey/src/linux/key_code.rs
  crates/livesplit-hotkey/src/linux/mod.rs
  crates/livesplit-hotkey/src/macos/cf.rs
  crates/livesplit-hotkey/src/macos/cg.rs
  crates/livesplit-hotkey/src/macos/key_code.rs
  crates/livesplit-hotkey/src/macos/mod.rs
  crates/livesplit-hotkey/src/windows/key_code.rs
  crates/livesplit-hotkey/src/windows/mod.rs
  src/hotkey_config.rs
Labels: enhancement, feature, hotkey, priority: high

#427 Properly propagate web features to `parking_lot`
  Cargo.toml
  capi/src/lib.rs
  crates/livesplit-hotkey/Cargo.toml
Labels: bug, enhancement
