Repository LiveSplit/livesplit-core, pull requests merged in 2021-06, with the labels that each got.

#430 Introduce Layers in the Renderer
  .github/workflows/build.yml
  Cargo.toml
  benches/scene_management.rs
  benches/software_rendering.rs
  capi/bind_gen/src/typescript.ts
  capi/src/layout_editor.rs
  capi/src/setting_value.rs
  capi/src/software_renderer.rs
  src/analysis/current_pace.rs
  src/analysis/pb_chance/mod.rs
  src/analysis/pb_chance/tests.rs
  src/component/current_comparison.rs
  src/component/current_pace.rs
  src/component/delta/mod.rs
  src/component/key_value.rs
  src/component/pb_chance.rs
  src/component/possible_time_save.rs
  src/component/previous_segment.rs
  src/component/segment_time/mod.rs
  src/component/splits/column.rs
  src/component/splits/mod.rs
  src/component/sum_of_best.rs
  src/component/timer.rs
  src/component/total_playtime.rs
  src/layout/editor/mod.rs
  src/rendering/component/blank_space.rs
  src/rendering/component/detailed_timer.rs
  src/rendering/component/graph.rs
  src/rendering/component/key_value.rs
  src/rendering/component/mod.rs
  src/rendering/component/separator.rs
  src/rendering/component/splits.rs
  src/rendering/component/text.rs
  src/rendering/component/timer.rs
  src/rendering/component/title.rs
  src/rendering/consts.rs
  src/rendering/entity.rs
  src/rendering/font/cache.rs
  src/rendering/font/glyph_cache.rs
  src/rendering/font/mod.rs
  src/rendering/icon.rs
  src/rendering/mod.rs
  src/rendering/resource/allocation.rs
  src/rendering/resource/handles.rs
  src/rendering/resource/mod.rs
  src/rendering/resource/shared_ownership.rs
  src/rendering/scene.rs
  src/rendering/software.rs
  src/run/editor/mod.rs
  src/run/editor/state.rs
  src/run/mod.rs
  src/settings/alignment.rs
  src/settings/color.rs
  src/settings/font.rs
  src/settings/gradient.rs
  src/settings/value.rs
  src/timing/timer_phase.rs
  tests/rendering.rs
Labels: c api, enhancement, feature, performance, priority: high, rendering

#433 remove derive_more
  Cargo.toml
  src/layout/component.rs
  src/layout/parser/mod.rs
  src/run/parser/flitter/s_expressions.rs
  src/run/parser/livesplit.rs
  src/run/parser/llanfair_gered.rs
  src/run/saver/livesplit.rs
  src/settings/image/mod.rs
  src/settings/value.rs
  src/timing/time_span.rs
  src/xml_util.rs
Labels: code quality, enhancement

#434 Use Rust 1.53 Features
  crates/livesplit-hotkey/src/windows/mod.rs
  src/comparison/best_segments.rs
  src/comparison/worst_segments.rs
  src/component/splits/column.rs
  src/hotkey_config.rs
  src/rendering/software.rs
  src/run/mod.rs
Labels: code quality, enhancement

#429 Add Current Split Index to the C API
  capi/src/timer.rs
Labels: c api, enhancement
