Repository LiveSplit/livesplit-core, pull requests merged in 2021-01, with the labels that each got.

#385 Implement Support for Custom Fonts
  .github/workflows/test.sh
  Cargo.toml
  capi/bind_gen/src/typescript.ts
  capi/src/parse_run_result.rs
  capi/src/setting_value.rs
  capi/src/text_component_state.rs
  crates/livesplit-title-abbreviations/src/lib.rs
  src/component/graph.rs
  src/component/splits/column.rs
  src/component/text/mod.rs
  src/layout/general_settings.rs
  src/layout/layout_state.rs
  src/layout/mod.rs
  src/layout/parser.rs
  src/layout/parser/blank_space.rs
  src/layout/parser/detailed_timer.rs
  src/layout/parser/graph.rs
  src/layout/parser/timer.rs
  src/rendering/component/title.rs
  src/rendering/font.rs
  src/rendering/glyph_cache.rs
  src/rendering/mod.rs
  src/settings/font.rs
  src/settings/mod.rs
  src/settings/value.rs
  src/timing/timer/tests/mod.rs
  tests/layout_files/WithTimerGradientBackground.lsl
  tests/layout_files/mod.rs
  tests/layout_parsing.rs
  tests/rendering.rs
  tests/split_parsing.rs
Labels: CI, c api, enhancement, feature, priority: high, rendering

#392 Always add content after parentheses in extended category
  Cargo.toml
  src/run/mod.rs
  src/run/tests/extended_category_name.rs
  src/run/tests/mod.rs
Labels: bug, enhancement

#401 Don't read into uninitialized buffers
  src/run/parser/llanfair.rs
Labels: bug, performance

#395 C API: Expose the Layout Editor's State.
  capi/src/layout_editor.rs
  capi/src/layout_editor_state.rs
  capi/src/lib.rs
  capi/src/setting_value.rs
Labels: c api, enhancement

#402 Upgrade to mio 0.7 for the Linux hotkeys
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/linux/mod.rs
Labels: dependencies, enhancement, hotkey
