Repository LiveSplit/livesplit-core, pull requests merged in 2021-12, with the labels that each got.

#487 Remove checks for "normal" when parsing GDI font
  .gitignore
  src/layout/parser/mod.rs
Labels: bug, enhancement, code quality

#490 Cache digit width for tabular numbers
  .gitignore
  src/rendering/font/mod.rs
Labels: enhancement, rendering, performance

#494 Update function names from dependency `heck`
  .github/workflows/build.yml
  capi/bind_gen/src/csharp.rs
  capi/bind_gen/src/java/jna.rs
  capi/bind_gen/src/java/jni.rs
  capi/bind_gen/src/jni_cpp.rs
  capi/bind_gen/src/kotlin/jni.rs
  capi/bind_gen/src/node.rs
  capi/bind_gen/src/swift/code.rs
  capi/bind_gen/src/wasm.rs
  capi/bind_gen/src/wasm_bindgen.rs
Labels: bug, enhancement, c api, ci

#495 Allow Customizing the Text Engine
  Cargo.toml
  benches/scene_management.rs
  src/layout/component.rs
  src/rendering/component/detailed_timer.rs
  src/rendering/component/graph.rs
  src/rendering/component/key_value.rs
  src/rendering/component/mod.rs
  src/rendering/component/splits.rs
  src/rendering/component/text.rs
  src/rendering/component/timer.rs
  src/rendering/component/title.rs
  src/rendering/entity.rs
  src/rendering/font/cache.rs
  src/rendering/font/glyph_cache.rs
  src/rendering/font/mod.rs
  src/rendering/mod.rs
  src/rendering/path_based_text_engine/color_font/colr.rs
  src/rendering/path_based_text_engine/color_font/cpal.rs
  src/rendering/path_based_text_engine/color_font/mod.rs
  src/rendering/path_based_text_engine/color_font/parse_util.rs
  src/rendering/path_based_text_engine/mod.rs
  src/rendering/resource/allocation.rs
  src/rendering/resource/handles.rs
  src/rendering/resource/mod.rs
  src/rendering/resource/shared_ownership.rs
  src/rendering/scene.rs
  src/rendering/software.rs
  src/run/parser/flitter/s_expressions.rs
  src/settings/image/mod.rs
  tests/rendering.rs
Labels: enhancement, rendering, feature, priority: high, performance

#493 Rewrite Graph component calculations
  src/component/graph.rs
  tests/rendering.rs
Labels: enhancement, rendering, code quality
