Repository LiveSplit/livesplit-core, pull requests merged in 2022-09, with the labels that each got.

#550 Added font-based resizing to the splits component
  src/component/timer.rs
  src/rendering/component/mod.rs
  src/rendering/component/splits.rs
  tests/rendering.rs
Labels: enhancement, rendering, feature, priority: high

#561 Switch from `structopt` to `clap`
  capi/bind_gen/Cargo.toml
  capi/bind_gen/src/main.rs
Labels: enhancement, c api, dependencies, code quality

#562 Let the `Resource Allocator` decode the images
  benches/scene_management.rs
  src/rendering/mod.rs
  src/rendering/resource/allocation.rs
  src/rendering/resource/handles.rs
  src/rendering/software.rs
Labels: enhancement, rendering, feature

#565 Use cargo's new `--crate-type` parameter
  .github/workflows/build_shared.sh
  .github/workflows/build_static.sh
  Cargo.toml
  README.md
  capi/Cargo.toml
  capi/cdylib/Cargo.toml
  capi/cdylib/src/lib.rs
  capi/staticlib/Cargo.toml
  capi/staticlib/src/lib.rs
Labels: bug, enhancement, c api, ci, code quality

#566 Implement Columns that show Variables
  src/component/splits/column.rs
  src/component/splits/mod.rs
  src/component/splits/tests/column.rs
  src/component/splits/tests/mod.rs
  src/layout/parser/splits.rs
  src/run/segment.rs
  src/settings/mod.rs
  src/settings/value.rs
  src/timing/timer/mod.rs
  src/util/clear_vec.rs
Labels: enhancement, rendering, feature

#568 Remove the `Security audit` workflow
  .github/workflows/audit.yml
Labels: ci, code quality

#569 Fix Integer Overflow in `FuzzyList`
  src/analysis/skill_curve.rs
  src/run/editor/fuzzy_list.rs
  src/util/mod.rs
  src/util/not_nan.rs
Labels: bug, enhancement

#570 Expose `ColumnKind` & `DeltaGradient` in Bindings
  capi/bind_gen/src/typescript.ts
  capi/src/setting_value.rs
  src/component/timer.rs
  src/settings/value.rs
Labels: bug, enhancement, c api, bindings

#571 Remove some features from `time`
  Cargo.toml
  capi/Cargo.toml
  capi/src/atomic_date_time.rs
  src/run/parser/livesplit.rs
  src/run/parser/time_split_tracker.rs
  src/util/xml/helper.rs
Labels: dependencies, code quality
