Repository LiveSplit/livesplit-core, pull requests merged in 2022-11, with the labels that each got.

#591 Implement `SpeedRunIGT` Parsing
  Cargo.toml
  capi/Cargo.toml
  crates/livesplit-auto-splitting/src/runtime.rs
  src/analysis/state_helper.rs
  src/component/title/mod.rs
  src/run/parser/composite.rs
  src/run/parser/mod.rs
  src/run/parser/speedrun_igt.rs
  src/run/parser/timer_kind.rs
  src/run/saver/livesplit.rs
  src/timing/time.rs
  src/timing/time_span.rs
  src/timing/timer/mod.rs
  src/util/xml/helper.rs
  tests/run_files/mod.rs
  tests/run_files/speedrun_igt.json
  tests/split_parsing.rs
Labels: enhancement, feature, code quality, parsing

#592 Use `X11` as fallback Hotkey implementation
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/linux/evdev_impl.rs
  crates/livesplit-hotkey/src/linux/mod.rs
  crates/livesplit-hotkey/src/linux/x11_impl.rs
Labels: enhancement, feature, priority: high, hotkey

#589 Changes Process.with_name to sort pids by id
  crates/livesplit-auto-splitting/src/process.rs
  src/settings/mod.rs
Labels: enhancement, auto splitting

#594 Implement Resolving Key Codes on Linux
  crates/livesplit-hotkey/src/key_code.rs
  crates/livesplit-hotkey/src/lib.rs
  crates/livesplit-hotkey/src/linux/evdev_impl.rs
  crates/livesplit-hotkey/src/linux/mod.rs
  crates/livesplit-hotkey/src/linux/x11_impl.rs
  crates/livesplit-hotkey/src/macos/mod.rs
  crates/livesplit-hotkey/src/other/mod.rs
  crates/livesplit-hotkey/src/wasm_web/mod.rs
  crates/livesplit-hotkey/src/windows/mod.rs
Labels: enhancement, feature, hotkey

#595 Implement Resolving Key Codes on the Web
  capi/src/hotkey_system.rs
  capi/src/title_component_state.rs
  crates/livesplit-hotkey/Cargo.toml
  crates/livesplit-hotkey/src/wasm_web/mod.rs
  src/hotkey_config.rs
  src/hotkey_system.rs
  src/run/parser/speedrun_igt.rs
Labels: enhancement, feature, hotkey

#598 Introduce a new `max-opt` Cargo Profile
  .github/workflows/before_deploy.sh
  .github/workflows/build_shared.sh
  .github/workflows/build_static.sh
  Cargo.toml
Labels: enhancement, ci, performance

#600 Optimize accessing PNG dimensions
  src/run/parser/livesplit.rs
  src/settings/image/shrinking.rs
Labels: enhancement, performance, parsing

#596 Adds types links to docs
  src/analysis/mod.rs
  src/analysis/pb_chance/mod.rs
  src/analysis/skill_curve.rs
  src/analysis/state_helper.rs
  src/analysis/sum_of_segments/best.rs
  src/analysis/sum_of_segments/worst.rs
  src/analysis/total_playtime.rs
  src/auto_splitting/mod.rs
  src/comparison/average_segments.rs
  src/comparison/best_segments.rs
  src/comparison/latest_run.rs
  src/comparison/median_segments.rs
  src/comparison/mod.rs
  src/comparison/none.rs
  src/comparison/worst_segments.rs
  src/component/mod.rs
  src/component/previous_segment.rs
  src/component/splits/mod.rs
  src/component/timer.rs
  src/hotkey_config.rs
  src/hotkey_system.rs
  src/layout/component.rs
  src/layout/editor/mod.rs
  src/layout/general_settings.rs
  src/layout/mod.rs
  src/run/attempt.rs
  src/run/editor/mod.rs
  src/run/mod.rs
  src/run/run_metadata.rs
  src/run/segment.rs
  src/run/segment_history.rs
  src/settings/mod.rs
  src/settings/semantic_color.rs
  src/timing/atomic_date_time.rs
  src/timing/formatter/accuracy.rs
  src/timing/formatter/complete.rs
  src/timing/formatter/days.rs
  src/timing/formatter/delta.rs
  src/timing/formatter/mod.rs
  src/timing/formatter/regular.rs
  src/timing/formatter/segment_time.rs
  src/timing/time.rs
  src/timing/time_span.rs
  src/timing/time_stamp.rs
  src/timing/timer/mod.rs
  src/timing/timing_method.rs
Labels: enhancement, code quality

#601 Derive `Default` on the enums
  crates/livesplit-auto-splitting/src/timer.rs
  src/layout/layout_direction.rs
  src/settings/font.rs
  src/settings/gradient.rs
  src/settings/image/mod.rs
  src/settings/semantic_color.rs
Labels: enhancement, code quality

#602 Allow auto splitters to query the size of modules
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#603 Allow custom handling of auto splitter log messages
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/timer.rs
  crates/livesplit-auto-splitting/tests/sandboxing.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, code quality, auto splitting

#606 Allow the auto splitters to add settings
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  crates/livesplit-auto-splitting/tests/sandboxing.rs
  src/auto_splitting/mod.rs
  src/run/parser/livesplit.rs
Labels: enhancement, feature, priority: high, auto splitting
