Repository LiveSplit/livesplit-core, pull requests merged in 2022-12, with the labels that each got.

#616 Don't store the file path in the `Run`
  benches/balanced_pb.rs
  benches/layout_state.rs
  benches/parsing.rs
  benches/scene_management.rs
  benches/software_rendering.rs
  capi/bind_gen/src/csharp.rs
  capi/bind_gen/src/java/jna.rs
  capi/bind_gen/src/java/jni.rs
  capi/bind_gen/src/jni_cpp.rs
  capi/bind_gen/src/kotlin/jni.rs
  capi/bind_gen/src/node.rs
  capi/bind_gen/src/python.rs
  capi/bind_gen/src/ruby.rs
  capi/bind_gen/src/swift/code.rs
  capi/bind_gen/src/wasm.rs
  capi/bind_gen/src/wasm_bindgen.rs
  capi/src/general_layout_settings.rs
  capi/src/hotkey_config.rs
  capi/src/layout_state.rs
  capi/src/run.rs
  src/networking/splits_io.rs
  src/platform/wasm/web/time.rs
  src/run/mod.rs
  src/run/parser/composite.rs
  src/run/parser/livesplit.rs
  src/run/parser/mod.rs
  src/run/parser/time_split_tracker.rs
  tests/balanced_pb.rs
  tests/escaped_lss.rs
  tests/rendering.rs
  tests/split_parsing.rs
Labels: enhancement, c api, code quality, parsing

#611 Wasmtime upgrade
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  src/auto_splitting/mod.rs
Labels: enhancement, dependencies, auto splitting

#615 fix title abbreviations
  crates/livesplit-title-abbreviations/src/lib.rs
Labels: bug, enhancement
