Repository LiveSplit/livesplit-core, pull requests merged in 2022-01, with the labels that each got.

#500 Use GDI to resolve fonts of the original LiveSplit
  Cargo.toml
  src/layout/parser/font_resolving/gdi.rs
  src/layout/parser/font_resolving/mod.rs
  src/layout/parser/font_resolving/name.rs
  src/layout/parser/font_resolving/parse_util.rs
  src/layout/parser/mod.rs
  src/settings/font.rs
Labels: enhancement, feature, parsing

#501 Make `updates_frequently` more consistent
  src/analysis/pb_chance/mod.rs
  src/analysis/possible_time_save.rs
  src/component/possible_time_save.rs
  src/component/previous_segment.rs
  src/component/splits/column.rs
Labels: enhancement, rendering, performance

#477 Auto-splitting Updates
  .github/workflows/build.yml
  .github/workflows/test.sh
  Cargo.toml
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/timer.rs
  src/auto_splitting/mod.rs
  src/lib.rs
Labels: enhancement, feature, priority: high, auto splitting

#503 Support Auto Splitting in the C API
  capi/Cargo.toml
  capi/bind_gen/src/c.rs
  capi/bind_gen/src/swift/code.rs
  capi/cdylib/Cargo.toml
  capi/src/auto_splitting_runtime.rs
  capi/src/lib.rs
  capi/staticlib/Cargo.toml
Labels: enhancement, c api, feature, auto splitting, bindings

#504 Upgrade `snafu` to 0.7.0
  Cargo.toml
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-hotkey/Cargo.toml
  src/networking/splits_io.rs
  src/run/editor/mod.rs
  src/run/parser/composite.rs
  src/run/parser/face_split.rs
  src/run/parser/llanfair.rs
  src/run/parser/llanfair_gered.rs
  src/run/parser/portal2_live_timer.rs
  src/run/parser/shit_split.rs
  src/run/parser/source_live_timer.rs
  src/run/parser/splits_io.rs
  src/run/parser/splitterino.rs
  src/run/parser/splitterz.rs
  src/run/parser/splitty.rs
  src/run/parser/time_split_tracker.rs
  src/run/parser/urn.rs
  src/run/parser/wsplit.rs
  src/timing/time_span.rs
Labels: dependencies

#507 Use new Rust 1.58 formatting
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-title-abbreviations/src/lib.rs
  src/analysis/sum_of_segments/tests.rs
  src/auto_splitting/mod.rs
  src/component/delta/mod.rs
  src/component/delta/tests.rs
  src/component/splits/tests/column.rs
  src/layout/parser/font_resolving/gdi.rs
  src/rendering/component/title.rs
  src/run/editor/cleaning.rs
  src/run/parser/flitter/s_expressions.rs
  src/run/parser/llanfair.rs
  src/run/parser/portal2_live_timer.rs
  src/run/parser/time_split_tracker.rs
  src/run/parser/timer_kind.rs
  src/run/saver/livesplit.rs
  src/timing/formatter/accuracy.rs
  src/timing/formatter/complete.rs
  src/timing/formatter/days.rs
  src/timing/formatter/delta.rs
  src/timing/formatter/regular.rs
  src/timing/formatter/segment_time.rs
  src/timing/formatter/timer.rs
  src/timing/time_span.rs
  src/xml_util.rs
  tests/rendering.rs
Labels: enhancement, code quality

#499 Cache ellipsis glyph ID and width
  src/rendering/path_based_text_engine/mod.rs
Labels: enhancement, rendering, code quality, performance, text engine

#489 Rewrite swift API `bind_gen`
  capi/bind_gen/src/main.rs
  capi/bind_gen/src/swift/code.rs
  capi/bind_gen/src/swift/header.rs
  capi/bind_gen/src/swift/mod.rs
  capi/bind_gen/src/swift/module.map
  capi/bind_gen/src/swift/module.modulemap
Labels: bug, enhancement, code quality, bindings

#508 Borrow the memory from the auto splitter
  crates/livesplit-auto-splitting/src/runtime.rs
Labels: performance, auto splitting
