Repository LiveSplit/livesplit-core, pull requests merged in 2023-12, with the labels that each got.

#746 Split up Auto Splitter API into multiple files
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/runtime/api/mod.rs
  crates/livesplit-auto-splitting/src/runtime/api/process.rs
  crates/livesplit-auto-splitting/src/runtime/api/runtime.rs
  crates/livesplit-auto-splitting/src/runtime/api/setting_value.rs
  crates/livesplit-auto-splitting/src/runtime/api/settings_list.rs
  crates/livesplit-auto-splitting/src/runtime/api/settings_map.rs
  crates/livesplit-auto-splitting/src/runtime/api/timer.rs
  crates/livesplit-auto-splitting/src/runtime/api/user_settings.rs
  crates/livesplit-auto-splitting/src/runtime/api/wasi.rs
  crates/livesplit-auto-splitting/src/runtime/mod.rs
Labels: enhancement, code quality, auto splitting

#749 Improve Auto Splitting runtime in `livesplit-core`
  capi/src/auto_splitting_runtime.rs
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime/api/runtime.rs
  crates/livesplit-auto-splitting/src/runtime/api/settings_map.rs
  crates/livesplit-auto-splitting/src/runtime/api/user_settings.rs
  crates/livesplit-auto-splitting/src/runtime/mod.rs
  crates/livesplit-auto-splitting/src/settings/map.rs
  crates/livesplit-auto-splitting/src/settings/value.rs
  crates/livesplit-auto-splitting/tests/sandboxing.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, performance, auto splitting

#748 Add FileSelection Widget
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime/api/user_settings.rs
  crates/livesplit-auto-splitting/src/runtime/api/wasi.rs
  crates/livesplit-auto-splitting/src/settings/gui.rs
  crates/livesplit-auto-splitting/src/settings/map.rs
  crates/livesplit-auto-splitting/src/wasi_path.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#752 Fix debug support for wasmtime 16
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/src/runtime/mod.rs
Labels: bug, enhancement, feature, auto splitting
