Repository LiveSplit/livesplit-core, pull requests merged in 2023-10, with the labels that each got.

#721 Add Process Listing and Attach by PID to Autosplitting API
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#728 Add `optimize` setting to Auto Splitting Runtime
  crates/livesplit-auto-splitting/src/runtime.rs
Labels: enhancement, feature, auto splitting

#729 Disable broken targets in CI
  .github/workflows/build.yml
  crates/livesplit-auto-splitting/tests/sandboxing.rs
Labels: ci

#730 Allow nonblocking access to Auto Splitting Runtime
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  crates/livesplit-auto-splitting/tests/sandboxing.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, code quality, auto splitting

#732 Update to wasmtime 14
  crates/livesplit-auto-splitting/Cargo.toml
Labels: enhancement, feature, auto splitting

#733 Activate networking tests again
  .github/workflows/build.yml
Labels: enhancement, feature, ci, networking

#734 Add API for accessing / modify settings maps
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, priority: high, auto splitting
