Repository LiveSplit/livesplit-core, pull requests merged in 2023-06, with the labels that each got.

#679 Support WASI Reactors
  Cargo.toml
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-title-abbreviations/src/lib.rs
  src/analysis/state_helper.rs
  src/platform/normal/mod.rs
  src/run/editor/mod.rs
  src/run/mod.rs
  src/timing/timer/mod.rs
Labels: enhancement, feature, code quality, auto splitting

#683 Pass Shaping option as needed
  src/rendering/default_text_engine/mod.rs
Labels: enhancement, dependencies, text engine

#687 Fixes for C# bindings
  capi/bind_gen/src/csharp.rs
  capi/src/time_span.rs
Labels: bug, enhancement, c api, feature, bindings

#700 Allow auto splitters to skip and undo splits
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/timer.rs
  crates/livesplit-auto-splitting/tests/sandboxing.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#701 Expose attached processes and linear memory
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
Labels: bug, enhancement, feature, auto splitting

#684 macOS permission module
  crates/livesplit-hotkey/src/macos/ax.rs
  crates/livesplit-hotkey/src/macos/cf.rs
  crates/livesplit-hotkey/src/macos/cg.rs
  crates/livesplit-hotkey/src/macos/mod.rs
  crates/livesplit-hotkey/src/macos/permission.rs
Labels: enhancement, feature, hotkey
