Repository LiveSplit/livesplit-core, pull requests merged in 2023-11, with the labels that each got.

#736 Support maps and strings as setting values
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#735 Add process_get_module_path
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/process.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  src/auto_splitting/mod.rs
Labels: enhancement, auto splitting

#737 Add support for setting values of type i64 and f64
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  src/auto_splitting/mod.rs
Labels: enhancement, auto splitting

#738 Add `SettingsList` for storing lists of settings
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#739 Refactor the settings module
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  crates/livesplit-auto-splitting/src/settings.rs
  crates/livesplit-auto-splitting/src/settings/gui.rs
  crates/livesplit-auto-splitting/src/settings/list.rs
  crates/livesplit-auto-splitting/src/settings/map.rs
  crates/livesplit-auto-splitting/src/settings/mod.rs
  crates/livesplit-auto-splitting/src/settings/value.rs
  src/auto_splitting/mod.rs
Labels: enhancement, code quality, auto splitting

#740 Add function for querying the type of a value
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting
