Repository LiveSplit/livesplit-core, pull requests merged in 2024-03, with the labels that each got.

#782 Implement SVG Renderer
  .github/workflows/build.yml
  Cargo.toml
  benches/scene_management.rs
  benches/svg_rendering.rs
  src/component/graph.rs
  src/rendering/mod.rs
  src/rendering/resource/allocation.rs
  src/rendering/resource/handles.rs
  src/rendering/software.rs
  src/rendering/svg.rs
  src/run/parser/llanfair.rs
  src/run/parser/llanfair_gered.rs
  src/run/saver/livesplit.rs
  src/settings/image/shrinking.rs
  src/util/image.rs
  src/util/mod.rs
  src/util/xml/mod.rs
  src/util/xml/writer.rs
  tests/rendering.rs
Labels: enhancement, rendering, feature

#783 Force disable kerning for monospace text
  .github/workflows/before_deploy.sh
  src/rendering/default_text_engine/mod.rs
  tests/rendering.rs
Labels: enhancement, rendering, feature, priority: high, performance, text engine

#784 ChoiceOption: Eq, Hash, PartialEq
  crates/livesplit-auto-splitting/src/settings/gui.rs
Labels: enhancement

#787 Add method to remove values from settings maps
  crates/livesplit-auto-splitting/src/settings/map.rs
Labels: enhancement, auto splitting

#788 Add Test for Background Image Rendering
  tests/layout_files/WithBackgroundImage.lsl
  tests/layout_files/mod.rs
  tests/rendering.rs
Labels: enhancement, rendering, code quality
