Repository LiveSplit/livesplit-core, pull requests merged in 2024-01, with the labels that each got.

#756 Remove the MIPS targets from the CI
  .github/workflows/build.yml
Labels: ci, priority: high

#757 Allow hotkeys to be consumed
  crates/livesplit-hotkey/src/key_code.rs
  crates/livesplit-hotkey/src/lib.rs
  crates/livesplit-hotkey/src/linux/evdev_impl.rs
  crates/livesplit-hotkey/src/linux/mod.rs
  crates/livesplit-hotkey/src/linux/x11_impl.rs
  crates/livesplit-hotkey/src/macos/mod.rs
  crates/livesplit-hotkey/src/other/mod.rs
  crates/livesplit-hotkey/src/wasm_web/mod.rs
  crates/livesplit-hotkey/src/windows/mod.rs
  src/hotkey_system.rs
Labels: enhancement, feature, hotkey

#758 pub use livesplit_auto_splitting::wasi_path
  src/auto_splitting/mod.rs
Labels: enhancement, auto splitting

#761 Improve Title Abbreviation Performance
  crates/livesplit-title-abbreviations/src/lib.rs
Labels: enhancement, performance

#755 livesplit-hotkey: Add Hook::new_consuming on macOS
  crates/livesplit-hotkey/src/macos/mod.rs
Labels: enhancement, feature, hotkey

#762 Fix Hotkey Modifiers on X11
  capi/bind_gen/src/main.rs
  crates/livesplit-hotkey/src/linux/x11_impl.rs
Labels: bug, enhancement, priority: high, hotkey

#766 Support Windows Device Paths in WASI
  crates/livesplit-auto-splitting/Cargo.toml
  crates/livesplit-auto-splitting/README.md
  crates/livesplit-auto-splitting/src/lib.rs
  crates/livesplit-auto-splitting/src/runtime/api/wasi.rs
  crates/livesplit-auto-splitting/src/wasi_path.rs
  src/auto_splitting/mod.rs
Labels: enhancement, feature, auto splitting

#767 Build on AArch64 based macOS runners in CI
  .github/workflows/build.yml
Labels: enhancement, ci
